---
// Import Image component
import { Image } from "astro:assets";

interface Props {
  title: string;
  body: string;
  img: any;
  href_code: string;
  href_preview: string;
}

const { title, body, img, href_code, href_preview } = Astro.props;
---


<!-- Card content -->
<article class="group relative shadow-lg cursor-auto flex flex-col dark:border dark:border-gray-400 rounded-md overflow-hidden">
  <!-- Card title -->
  <h2 class="px-5 py-3 text-2xl my-0 font-bold text-gray-100 bg-gray-800 dark:border-gray-600">
    {title}
  </h2>
  <!-- Background project image container with fixed height -->
  <div class="h-[30rem] w-full bg-gray-200">
    <img src={img} alt="Background-proyect-card" class="w-full h-full object-cover" />
  </div>

  <div class="absolute inset-0 p-10 opacity-0 transition-opacity group-hover:opacity-100">
    <!-- Semitransparent background to highlight text -->
    <div class="bg-gray-100 bg-opacity-90 rounded-lg p-3 mt-10 relative">
      <!-- Flex container for preview and code badges -->
      <div class="flex flex-row gap-4 justify-start items-center">
        <!-- Slot for Preview badge -->
        <a href={href_preview}><slot name="preview" /></a>
        <!-- Slot for Code badge -->
        <a href={href_code}><slot name="code" /></a>
      </div>
      <!-- Title of the content on hover -->
      <h3 class="text-2xl font-bold text-gray-800">{title}</h3>

      <!-- Body of the content on hover -->
      <p class="mt-2 text-base font-normal text-gray-700">
        {body}
      </p>
      <!-- Slot for used technologies -->
      <div class="mt-4 flex flex-wrap gap-4">
        <slot name="technologies">
          <!-- Components for used technologies can be added here as needed -->
        </slot>
      </div>
    </div>
  </div>
  <!-- Content shown on hover -->
</article>

