---
// Import main component
import CardProject from "@components/Card-Project.astro";
// Imports Badges
import BadgeCode from "@components/badges/Badge-Code.astro";
import BadgePreview from "@components/badges/Badge-Preview.astro";
import BadgeTemplate from "@components/badges/Badge-Template.astro";
// Imports Icons
import DjangoIcon from "@components/icons/Django-Icon.astro";
import JsIcon from "@components/icons/Js-Icon.astro";
import PromptIcon from "@components/icons/Prompt.astro";
// Import Images
import ProjectsImage from "@images/imagen.png";
---

<h1 class="flex flex-row items-center gap-2 text-4xl font-bold text-gray-900 dark:text-gray-200 mt-8">
  <div class="w-12 h-12">
    <PromptIcon className="w-full h-full" />
  </div>
  Todos los proyectos
</h1>

<!-- Button to view all projects -->
<a class="text-gray-100 bg-gray-800 hover:bg-gray-700 hover:cursor-pointer dark:bg-gray-200 dark:text-gray-900 dark:hover:bg-gray-300 font-medium text-sm rounded-lg px-5 py-2.5 my-4 text-center inline-flex items-center"
  href="/">
  Regresar al incio
</a>
<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 my-10">
  <!-- Proyect 1 -->
  <CardProject
    title="Project 1"
    body={`Aquí va la descripción del proyecto. 
          Puedes escribir en varias líneas usando el 
          operador de interpolación de cadenas (backticks) 
          en JavaScript. Esto permite una mayor legibilidad 
          y organización del texto.
          `}
    img={ProjectsImage}
    href_code="https://github.com"
    href_preview="https://lapalabradeldia.com"
  >
    <BadgePreview slot="preview" />
    <BadgeCode slot="code" />
    <slot slot="technologies">
      <BadgeTemplate className="bg-green-100 text-green-900">
        <DjangoIcon /> Django
      </BadgeTemplate>
      <BadgeTemplate className="bg-yellow-100 text-yellow-700">
        <JsIcon /> Java Script
      </BadgeTemplate>
    </slot>
  </CardProject>

  <!-- Proyect 2 -->
  <CardProject
    title="Project 2"
    body={`Aquí va la descripción del proyecto. 
          Puedes escribir en varias líneas usando el 
          operador de interpolación de cadenas (backticks) 
          en JavaScript. Esto permite una mayor legibilidad 
          y organización del texto.
          `}
    img={ProjectsImage}
    href_code="https://github.com"
    href_preview="https://lapalabradeldia.com"
  >
    <BadgePreview slot="preview" />
    <BadgeCode slot="code" />
    <slot slot="technologies">
      <BadgeTemplate className="bg-green-100 text-green-900">
        <DjangoIcon /> Django
      </BadgeTemplate>
      <BadgeTemplate className="bg-yellow-100 text-yellow-700">
        <JsIcon /> Java Script
      </BadgeTemplate>
    </slot>
  </CardProject>

  <!-- Proyect 3 -->
  <CardProject
    title="Project 3"
    body={`Aquí va la descripción del proyecto. 
        Puedes escribir en varias líneas usando el 
        operador de interpolación de cadenas (backticks) 
        en JavaScript. Esto permite una mayor legibilidad 
        y organización del texto.
        `}
    img={ProjectsImage}
    href_code="https://github.com"
    href_preview="https://lapalabradeldia.com"
  >
    <BadgePreview slot="preview" />
    <BadgeCode slot="code" />
    <slot slot="technologies">
      <BadgeTemplate className="bg-green-100 text-green-900">
        <DjangoIcon /> Django
      </BadgeTemplate>
      <BadgeTemplate className="bg-yellow-100 text-yellow-700">
        <JsIcon /> Java Script
      </BadgeTemplate>
    </slot>
  </CardProject>

  <!-- Proyect 4 -->
  <CardProject
    title="Project 4"
    body={`Aquí va la descripción del proyecto. 
        Puedes escribir en varias líneas usando el 
        operador de interpolación de cadenas (backticks) 
        en JavaScript. Esto permite una mayor legibilidad 
        y organización del texto.
        `}
    img={ProjectsImage}
    href_code="https://github.com"
    href_preview="https://lapalabradeldia.com"
  >
    <BadgePreview slot="preview" />
    <BadgeCode slot="code" />
    <slot slot="technologies">
      <BadgeTemplate className="bg-green-100 text-green-900">
        <DjangoIcon /> Django
      </BadgeTemplate>
      <BadgeTemplate className="bg-yellow-100 text-yellow-700">
        <JsIcon /> Java Script
      </BadgeTemplate>
    </slot>
  </CardProject>

  <!-- Proyect 5 -->
  <CardProject
    title="Project 5"
    body={`Aquí va la descripción del proyecto. 
        Puedes escribir en varias líneas usando el 
        operador de interpolación de cadenas (backticks) 
        en JavaScript. Esto permite una mayor legibilidad 
        y organización del texto.
        `}
    img={ProjectsImage}
    href_code="https://github.com"
    href_preview="https://lapalabradeldia.com"
  >
    <BadgePreview slot="preview" />
    <BadgeCode slot="code" />
    <slot slot="technologies">
      <BadgeTemplate className="bg-green-100 text-green-900">
        <DjangoIcon /> Django
      </BadgeTemplate>
      <BadgeTemplate className="bg-yellow-100 text-yellow-700">
        <JsIcon /> Java Script
      </BadgeTemplate>
    </slot>
  </CardProject>

  <!-- Proyect 6 -->
  <CardProject
    title="Project 6"
    body={`Aquí va la descripción del proyecto. 
        Puedes escribir en varias líneas usando el 
        operador de interpolación de cadenas (backticks) 
        en JavaScript. Esto permite una mayor legibilidad 
        y organización del texto.
        `}
    img={ProjectsImage}
    href_code="https://github.com"
    href_preview="https://lapalabradeldia.com"
  >
    <BadgePreview slot="preview" />
    <BadgeCode slot="code" />
    <slot slot="technologies">
      <BadgeTemplate className="bg-green-100 text-green-900">
        <DjangoIcon /> Django
      </BadgeTemplate>
      <BadgeTemplate className="bg-yellow-100 text-yellow-700">
        <JsIcon /> Java Script
      </BadgeTemplate>
    </slot>
  </CardProject>
</section>
